[submodule "submodules/opencv_wrapper"]
	path = submodules/opencv_wrapper
	url = https://github.com/frankier/opencv_wrapper.git
[submodule "submodules/lighttrack"]
	path = submodules/lighttrack
	url = https://github.com/Guanghan/lighttrack.git
[submodule "submodules/ufunclab"]
	path = submodules/ufunclab
	url = https://github.com/WarrenWeckesser/ufunclab.git
